.main-header {
    background-image: url(bgh.jpg);

    background-size: cover;
    margin: -9px;
    padding-bottom: 80px;
    padding-top: 15px;
    margin-bottom: 11px;
}
.main-header h1:hover{
    cursor:default;
    transform: scale(1.2);
    transition: 1s;
}
.main-header ul {
    font-size: 19px;
    font-family: sans-serif;
    margin: 5px;
    text-align: center;
}
.main-header li {
    display: inline;
    padding-left: 3%;
    padding-right: 3%;
}

.main-header li a {
    padding: 10px;
    text-decoration: none;
    color: lightgrey;
}
.main-header li :hover {
    background-color: gray;
    color: black;
    padding: 10px;
    transition: .3s ease-out;
}
.main-header h1 {
    color:gray;
    text-align: center;
    padding-top: 35px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.main-content h3{
    color: white;
}
.main-content {
    cursor: pointer;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 97, 97);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 100px;
    padding-top: 5px;
    border-bottom: 3px solid;
}
.main-content p:hover{
    cursor: text;
}
.main-content a {
    color: black;
}
.main-content img {
    border-radius: 50%;
    float: right;
}
.main-content h3:active{
    transition: .5s;
    color:black;
}
.main-content:active{
    border: 9px groove;
    margin: -5px;
    padding-left: 20px;
    padding-top: 5px;
    transition: 0.3s ;
    padding-bottom: 100px;
    color: black;
    border-color: black;
}
.content-hobbies{
    background:linear-gradient(rgb(0, 0, 0),rgb(21, 43, 68));
    margin-left: -9px;
    margin-right: -9px;
    padding: 10px;
    color:white;
}
.content-hobbies h3{
    text-align: center;
    font-size: 22px;
    padding: 20px;
    padding-bottom: 40px;
    background:linear-gradient(rgb(21, 27, 40),rgb(13, 19, 25));
    color:gray;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 10px solid black;
}
.content-hobbies li {
    padding: 30px;
    font-size: 18px;
}
.content-hobbies li a {
    text-decoration: none;
    color: rgb(63, 0, 237);
}
.content-pics {
    background:linear-gradient(rgb(21, 43, 68),rgb(0, 0, 0));
    cursor: pointer;
    padding: 40px;
    display: flex;
    padding-left: 30px;
    margin-right: -8px;
    margin-left: -8px;
}


.content-question {
    background:black;
    color: gray;
    padding: 30px;
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: -9px;
}
.content-question h2 {
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
}
.content-question p {
    font-size: 18px;
}
.content-question input {
    background-color: white;
    border: 3px solid gray;
}
.content-question input:hover{
    background-color: gray;
    transition: .3s;
}
.content-question button {
    background-color: white;
    color: black;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
}
.content-question button:hover {
    background-color: gray;
    transition: .3s;
}

.main-footer {
background-image: url(bgh.jpg);
background-size: cover;
margin: -9px;
padding-bottom: 80px;
padding-top: 15px;
color: white;
}
.main-footer h4{
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}
.main-footer p {
    padding-left: 10px;
}
.main-footer a {
    text-decoration: none;
    color: gray;
}